<li class="list-group-item">
	{{name}}

	<button  type="button" class="btn btn-light btn-outline-secondary change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOUR!{{/if}}
	</button>

</li>
